# Raw/source images: never version
img/raw/

# Ignore every image by default
img/*

*.marker-preview/

# Images actually used by the rulebook
!img/art-cover-worm.png
!img/art-fremen.png

!img/AT-karama.png
!img/AT-leader-duncan.png
!img/AT-leader-gurney.png
!img/AT-leader-jessica.png
!img/AT-leader-thufir.png
!img/AT-leader-yueh.png
!img/AT-leader.png
!img/AT-logo-big.png
!img/AT-logo.png
!img/AT-special-karama.png

!img/BG-karama.png
!img/BG-logo.png

!img/CH-karama-big.png
!img/CH-karama.png
!img/CH-logo-big.png
!img/ch-logo.png
!img/CH-special-karama.png

!img/EM-karama.png
!img/EM-logo.png
!img/EM-special-karama.png

!img/EZ-karama.png
!img/EZ-logo-big.png
!img/EZ-special-karama.png

!img/FR-karama.png
!img/FR-logo.png
!img/FR-special-karama.png

!img/HK-karama.png
!img/HK-logo.png
!img/HK-special-karama.png

!img/icon-karama-cards.png
!img/icon-karama-white.png

!img/IX-karama.png
!img/IX-logo.png
!img/IX-special-karama.png

!img/karama.png

!img/map-arrakeen.png
!img/map-carthag.png
!img/map-habanya-sietch.png
!img/map-sietch-tabr.png
!img/map-tuek

!img/MO-karama-big.png
!img/MO-karama.png
!img/MO-logo-big.png
!img/MO-special-karama.png

!img/phase-battle-grey.png
!img/phase-bidding-grey.png
!img/phase-charity-grey.png
!img/phase-collection-grey.png
!img/phase-mentat-grey.png
!img/phase-nexus.png
!img/phase-revival-grey.png
!img/phase-shipment-grey.png
!img/phase-spice-gold.png
!img/phase-spice-grey.png
!img/phase-storm-gold.png
!img/phase-storm-grey.png

!img/player-order.png
!img/revival-2.png

!img/RI-karama-big.png
!img/RI-karama.png
!img/RI-logo-big.png
!img/RI-special-karama.png

!img/SG-karama.png
!img/SG-logo.png
!img/SG-special-karama.png

!img/tech-token-axolotl.png
!img/tech-token-heighliners.png
!img/tech-token-spice.png

!img/TX-karama.png
!img/TX-logo.png
!img/TX-special-karama.png

# BEGIN AUTO-USED-IMAGES
# Generated by scripts/update-image-gitignore.ps1
# Do not edit this section manually.
img/*
img/raw/
!img/art-cover-worm.png
!img/art-fremen.png
!img/AT-karama.png
!img/AT-leader-duncan.png
!img/AT-leader-gurney.png
!img/AT-leader-jessica.png
!img/AT-leader-thufir.png
!img/AT-leader-yueh.png
!img/AT-leader.png
!img/AT-logo-big.png
!img/AT-logo.png
!img/AT-special-karama.png
!img/BG-karama.png
!img/BG-logo.png
!img/CH-karama.png
!img/CH-logo-big.png
!img/CH-special-karama.png
!img/em-karama.png
!img/EM-karama.png
!img/EM-logo.png
!img/EM-special-karama.png
!img/EZ-karama.png
!img/EZ-logo-big.png
!img/EZ-special-karama.png
!img/FR-karama.png
!img/FR-logo.png
!img/FR-special-karama.png
!img/HK-karama.png
!img/HK-logo.png
!img/HK-special-karama.png
!img/icon-karama-cards.png
!img/icon-karama-white.png
!img/IX-karama.png
!img/IX-logo.png
!img/IX-special-karama.png
!img/karama.png
!img/map-arrakeen.png
!img/map-carthag.png
!img/map-habanya-sietch.png
!img/map-sietch-tabr.png
!img/map-tueks-sietch.png
!img/MO-karama-big.png
!img/MO-logo-big.png
!img/MO-special-karama.png
!img/phase-battle-grey.png
!img/phase-bidding-grey.png
!img/phase-charity-grey.png
!img/phase-collection-grey.png
!img/phase-mentat-grey.png
!img/phase-nexus.png
!img/phase-revival-grey.png
!img/phase-shipment-grey.png
!img/phase-spice-gold.png
!img/phase-spice-grey.png
!img/phase-storm-gold.png
!img/phase-storm-grey.png
!img/player-order.png
!img/revival-2.png
!img/RI-karama-big.png
!img/RI-logo-big.png
!img/RI-special-karama.png
!img/SG-karama.png
!img/SG-logo.png
!img/SG-special-karama.png
!img/tech-token-axolotl.png
!img/tech-token-heighliners.png
!img/tech-token-spice.png
!img/TX-karama.png
!img/TX-logo.png
!img/TX-special-karama.png
# END AUTO-USED-IMAGES
