# Raw/source images: never version
img/raw/

# Ignore every image by default
img/*

*.marker-preview/

# Images actually used by the rulebook
!img/art-cover-worm.png
!img/art-fremen.png

!img/AT-karama.png
!img/AT-leader-duncan.png
!img/AT-leader-gurney.png
!img/AT-leader-jessica.png
!img/AT-leader-thufir.png
!img/AT-leader-yueh.png
!img/AT-leader.png
!img/AT-logo-big.png
!img/AT-logo.png
!img/AT-special-karama.png

!img/BG-karama.png
!img/BG-logo.png

!img/CH-karama-big.png
!img/CH-karama.png
!img/CH-logo-big.png
!img/ch-logo.png
!img/CH-special-karama.png

!img/EM-karama.png
!img/EM-logo.png
!img/EM-special-karama.png

!img/EZ-karama.png
!img/EZ-logo-big.png
!img/EZ-special-karama.png

!img/FR-karama.png
!img/FR-logo.png
!img/FR-special-karama.png

!img/HK-karama.png
!img/HK-logo.png
!img/HK-special-karama.png

!img/icon-karama-cards.png
!img/icon-karama-white.png

!img/IX-karama.png
!img/IX-logo.png
!img/IX-special-karama.png

!img/karama.png

!img/map-arrakeen.png
!img/map-carthag.png
!img/map-habanya-sietch.png
!img/map-sietch-tabr.png
!img/map-tuek

!img/MO-karama-big.png
!img/MO-karama.png
!img/MO-logo-big.png
!img/MO-special-karama.png

!img/phase-battle-grey.png
!img/phase-bidding-grey.png
!img/phase-charity-grey.png
!img/phase-collection-grey.png
!img/phase-mentat-grey.png
!img/phase-nexus.png
!img/phase-revival-grey.png
!img/phase-shipment-grey.png
!img/phase-spice-gold.png
!img/phase-spice-grey.png
!img/phase-storm-gold.png
!img/phase-storm-grey.png

!img/player-order.png
!img/revival-2.png

!img/RI-karama-big.png
!img/RI-karama.png
!img/RI-logo-big.png
!img/RI-special-karama.png

!img/SG-karama.png
!img/SG-logo.png
!img/SG-special-karama.png

!img/tech-token-axolotl.png
!img/tech-token-heighliners.png
!img/tech-token-spice.png

!img/TX-karama.png
!img/TX-logo.png
!img/TX-special-karama.png

# BEGIN AUTO-USED-IMAGES
# Generated by scripts/update-image-gitignore.ps1
# Do not edit this section manually.
img/*
img/raw/
!img/art-cover-worm.png
!img/art-fremen.png
!img/AT-leader-duncan.png
!img/AT-leader-gurney.png
!img/AT-leader-jessica.png
!img/AT-leader-thufir.png
!img/AT-leader-yueh.png
!img/AT-leader.png
!img/AT-logo.png
!img/AT-troop.png
!img/battle1.png
!img/battle2.png
!img/BG-leader-alia.png
!img/BG-leader-fenning.png
!img/BG-leader-irulan.png
!img/BG-leader-marcus.png
!img/BG-leader-ramallo.png
!img/BG-leader.png
!img/BG-logo.png
!img/CH-leader-auditor.png
!img/CH-leader-frankos.png
!img/CH-leader-jalma.png
!img/CH-leader-londine.png
!img/CH-leader-tull.png
!img/CH-leader-verdun.png
!img/CH-leader.png
!img/CH-logo.png
!img/EM-leader-aramsham.png
!img/EM-leader-bashar.png
!img/EM-leader-burseg.png
!img/EM-leader-caid.png
!img/EM-leader-fenning.png
!img/EM-leader.png
!img/EM-logo.png
!img/EZ-leader-bludd.png
!img/EZ-leader-dinari.png
!img/EZ-leader-ilesa.png
!img/EZ-leader-narvi.png
!img/EZ-leader-sanya.png
!img/EZ-leader-vidal.png
!img/EZ-leader.png
!img/EZ-logo.png
!img/FR-leader-chani.png
!img/FR-leader-jamis.png
!img/FR-leader-mapes.png
!img/FR-leader-otheym.png
!img/FR-leader-stilgar.png
!img/FR-leader.png
!img/FR-logo.png
!img/HK-leader-beast.png
!img/HK-leader-feyd.png
!img/HK-leader-kudu.png
!img/HK-leader-nefud.png
!img/HK-leader-vries.png
!img/HK-leader.png
!img/HK-logo.png
!img/icon-karama_2.png
!img/icon-karama-white.png
!img/icon-karama.png
!img/IX-leader-cammar.png
!img/IX-leader-dominic.png
!img/IX-leader-kailea.png
!img/IX-leader-pilru.png
!img/IX-leader-tesia.png
!img/IX-leader.png
!img/IX-logo.png
!img/karama.png
!img/map-arrakeen.png
!img/map-carthag.png
!img/map-cielago-south.png
!img/map-habanya-sietch.png
!img/map-sietch-tabr.png
!img/map-tueks-sietch.png
!img/marker-turn.png
!img/MO-leader-grieu.png
!img/MO-leader-hiih.png
!img/MO-leader-lupino.png
!img/MO-leader-trin.png
!img/MO-leader-vando.png
!img/MO-leader-vidal.png
!img/MO-leader.png
!img/MO-logo.png
!img/phase-battle-black-alpha.png
!img/phase-battle-grey.png
!img/phase-bidding-black-alpha.png
!img/phase-bidding-grey.png
!img/phase-charity-black-alpha.png
!img/phase-charity-grey.png
!img/phase-collection-black-alpha.png
!img/phase-collection-grey.png
!img/phase-mentat-black-alpha.png
!img/phase-mentat-grey.png
!img/phase-nexus.png
!img/phase-revival-black-alpha.png
!img/phase-revival-grey.png
!img/phase-shipment-black-alpha.png
!img/phase-shipment-grey.png
!img/phase-spice-black-alpha.png
!img/phase-spice-gold.png
!img/phase-spice-grey.png
!img/phase-storm-black-alpha.png
!img/phase-storm-gold.png
!img/phase-storm-grey.png
!img/player-order.png
!img/revival-0.png
!img/revival-1.png
!img/revival-2.png
!img/revival-3.png
!img/RI-leader-ein.png
!img/RI-leader-flinto.png
!img/RI-leader-haloa.png
!img/RI-leader-helena.png
!img/RI-leader-talis.png
!img/RI-leader.png
!img/RI-logo.png
!img/SG-leader-bewt.png
!img/SG-leader-esmar.png
!img/SG-leader-guildrep.png
!img/SG-leader-sook.png
!img/SG-leader-staban.png
!img/SG-leader.png
!img/SG-logo.png
!img/spice-1.png
!img/spice-10.png
!img/spice-2.png
!img/spice-5.png
!img/tech-token-axolotl.png
!img/tech-token-heighliners.png
!img/tech-token-spice.png
!img/TX-leader-ajidica.png
!img/TX-leader-blin.png
!img/TX-leader-wykk.png
!img/TX-leader-zaaf.png
!img/TX-leader-zoal.png
!img/TX-leader.png
!img/TX-logo.png
# END AUTO-USED-IMAGES
# Local auxiliary files
/index.before-faction-sheets.html
/index2.html
/index.marker-preview/
